# Ignore all
*

# Add folders
!*/

# Add .gitignore
!/.gitignore 

# Handle the module assembly
/Kentico.AcceleratedMobilePages/bin
/Kentico.AcceleratedMobilePages/obj
!/Kentico.AcceleratedMobilePages/**/*.cs
!/Kentico.AcceleratedMobilePages/**/*.csproj
!/Kentico.AcceleratedMobilePages/**/*.config

# Add the DB objects
!/CMS/App_Data/CIRepository/@global/**/Kentico.AcceleratedMobilePages*
!/CMS/App_Data/CIRepository/@global/**/Kentico.AcceleratedMobilePages*/*.*
!/CMS/App_Data/CIRepository/@global/**/AcceleratedMobilePages*
!/CMS/App_Data/CIRepository/@global/**/AcceleratedMobilePages*/*.*
!/CMS/App_Data/CIRepository/@global/**/ampfilter*
!/CMS/App_Data/CIRepository/@global/**/ampfilter*/*.*

!/CMS/App_Data/CMSModules/Kentico.AcceleratedMobilePages/**/*.xml
!/CMS/CMSModules/**/Kentico.AcceleratedMobilePages/*.*
!/CMS/CMSResources/**/Kentico.AcceleratedMobilePages/*.*