<?xml version="1.0"?>
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.
For a description of latest version of httpRuntime TF see https://stackoverflow.com/questions/42903209/web-config-versions-for-net-framework-4-6-1
   
   The following attributes can be set on the <httpRuntime> tag.
     
     <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
    </system.web>
  -->
  
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
    </system.web>
</configuration>
